# Entornos virtuales
venv/
.venv/
.venv1/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos ocultos de Mac y Windows
.DS_Store
Thumbs.db

# Carpetas del IDE (PyCharm, VSCode)
.vscode/
.idea/
*.iws
workspace.xml

# Configuración local (evita conflictos de BD/IPs entre ordenadores)
ajustes_locales.json

# Logs del chat generados automáticamente
logs_chat/

# Imágenes generadas dinámicamente por la cámara simulada
capturas_simuladas/*.jpg
capturas_simuladas/*.png