# Entornos virtuales
venv/
.venv/
.venv1/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos ocultos de Mac y Windows
.DS_Store
Thumbs.db

# Carpetas del IDE (si usas VSCode, PyCharm, etc)
.vscode/
.idea/

# Imágenes de prueba (opcional, si no quieres guardar el historial de fotos falsas)
capturas_simuladas/*.jpg